
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    background-size: cover;
    padding-top: 200px !important;
    background-image: url('https://i.imgur.com/5s2sYXj.gif');
    color: #fff;
    line-height: 1.6;
    padding: 20px;
    flex: 1;
}

.container {
    background: rgba(0, 0, 0, 0.5);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 100px;
    box-shadow: 0 0 10px rgba(61, 61, 61, 0.1);
    border-radius: 8px;
}

h1, h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: rgb(99, 99, 99);
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 20px;
}

.error {
    color: red;
    margin-bottom: 20px;
}

.success {
    color: green;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }
}

