.login {
    border-radius: 10px;
    padding: 8px;
    color: $cor-L;
    background: $cor-P;
    width: 500px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.dashboard {
    background: $cor-P;
    color: $cor-L;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 20px;
}

.registro {
    background: $cor-P;
    color: $cor-L;
    border-radius: 10px;
    width: 500px;
    padding: 8px;
    margin-bottom: 20px;
}
